div.settings-form {
    padding: 9px 14px;
    margin: 25px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    width: 500px;
}

.round{
    border-radius: 4px;
    display: block;
}