#mainPopup {
    padding: 10px;
    height: 250px;
    width: 325px;
    font-family: Helvetica, Ubuntu, Arial, sans-serif;
}

h1 {
    font-size: 2em;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.jira-badge {
    font-family: "Helvetica", Arial, serif;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    font-weight: bold;
}

span.jira-label {
    width: 150px;
    display: block;
    float: left;
}

.round {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 4px 2px;
    display: inline;

}

p#headline {
    float: left;
    margin-right: 15px;
}

p#headline-state {
    font-weight: bold;
}

ul#jira_properties {
    list-style: none;
    padding: 0;
}